Repository Akshit8/todo-microservice-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc.json:

{
  "*.ts": ["npm run lint", "npm run format"],
  "*.js": ["npm run format"],
  "*.json": ["npm run format"],
  "*.yaml": ["npm run format"]
}

basic service setup
  api-gateway/package-lock.json
  api-gateway/package.json
  api-gateway/src/main.ts
  api-gateway/src/moleculer.config.ts
  api-gateway/tsconfig.json
  auth-service/moleculer.config.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/auth.service.ts
  auth-service/src/main.ts
  auth-service/tsconfig.json
  docker-compose.yaml
  nodemon.json
  package-lock.json
  package.json
  todo-service/moleculer.config.ts
  todo-service/package-lock.json
  todo-service/package.json
  todo-service/src/main.ts
  todo-service/src/todo.service.ts
  todo-service/tsconfig.json
Due: npm run lint, npm run format

type orm added
  api-gateway/src/main.ts
  api-gateway/src/moleculer.config.ts
  auth-service/db/migrations/1641749042815-User.ts
  auth-service/moleculer.config.ts
  auth-service/ormconfig.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.MoleculerService.ts
  auth-service/src/auth.service.ts
  auth-service/src/entity/User.ts
  auth-service/src/entity/index.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/repository/index.ts
  auth-service/src/service/auth.ts
  auth-service/src/service/index.ts
  auth-service/src/utils/JWT.ts
  auth-service/tsconfig.json
  docker-compose.dev.yaml
  docker-compose.yaml
  package.json
  todo-service/moleculer.config.ts
Due: npm run lint, npm run format

auth-service
  .eslintrc.json
  auth-service/package.json
  auth-service/src/Auth.Service.ts
  auth-service/src/service/auth.ts
  auth-service/src/service/index.ts
Due: npm run lint, npm run format

default exports in auth-service
  auth-service/moleculer.config.ts
  auth-service/ormconfig.ts
Due: npm run lint, npm run format

lint fix for js and ts
  .lintstagedrc.json
  package.json
Due: npm run format

jest auth-service
  auth-service/jest.config.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/utils/Hasher.ts
  auth-service/src/utils/JWT.ts
  package.json
Due: npm run lint, npm run format

add setup
  auth-service/src/errors/index.ts
  auth-service/src/utils/AuthToken.spec.ts
  auth-service/src/utils/AuthToken.ts
  auth-service/src/utils/Hasher.spec.ts
  auth-service/src/utils/Hasher.ts
  auth-service/src/utils/JWT.ts
  auth-service/src/utils/index.ts
Due: npm run lint, npm run format

typeorm
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.ts
  auth-service/src/entity/User.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/utils/index.ts
Due: npm run lint, npm run format

auth service main
  .eslintrc.json
  auth-service/db/migrations/1642150643587-UserContraints.ts
  auth-service/moleculer.config.ts
  auth-service/ormconfig.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.ts
  auth-service/src/entity/User.ts
  auth-service/src/errors/index.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/utils/AuthToken.ts
  auth-service/src/utils/Hasher.ts
Due: npm run lint, npm run format

auth service
  api-gateway/src/main.ts
  auth-service/moleculer.config.ts
  auth-service/src/Auth.Service.ts
  auth-service/src/errors/index.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/utils/AuthToken.ts
Due: npm run lint, npm run format

error handling in auth-service
  .eslintrc.json
  auth-service/src/Auth.Service.ts
  auth-service/src/errors/index.ts
  auth-service/src/errors/internal.ts
  auth-service/src/errors/service.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/utils/AuthToken.ts
  auth-service/src/utils/Hasher.ts
Due: npm run lint, npm run format

auth-service TODO: inbuilt validation
  auth-service/src/Auth.Service.ts
  auth-service/src/Auth.service.spec.ts
  auth-service/src/errors/service.ts
Due: npm run lint, npm run format

unit tests added
  auth-service/jest.config.ts
  auth-service/src/Auth.service.spec.ts
  auth-service/src/repository/UserRepository.spec.ts
  auth-service/src/utils/AuthToken.spec.ts
  auth-service/src/utils/Hasher.spec.ts
  auth-service/tsconfig.json
Due: npm run lint, npm run format

jest config update
  auth-service/jest.config.ts
Due: npm run lint, npm run format

todo service started
  auth-service/src/Auth.Service.ts
  auth-service/src/repository/UserRepository.ts
  todo-service/db/migrations/1642321619101-Todo.ts
  todo-service/db/migrations/1642322192531-todo-complete.ts
  todo-service/db/migrations/1642322792905-todo-complete-default-value.ts
  todo-service/jest.config.ts
  todo-service/moleculer.config.ts
  todo-service/ormconfig.ts
  todo-service/package-lock.json
  todo-service/package.json
  todo-service/src/entity/Todo.ts
  todo-service/src/entity/index.ts
  todo-service/src/errors/index.ts
  todo-service/src/errors/internal.ts
  todo-service/src/errors/service.ts
  todo-service/src/repository/TodoRepository.ts
  todo-service/src/repository/index.ts
  todo-service/src/todo.service.ts
  todo-service/src/utils/AuthToken.ts
  todo-service/src/utils/index.ts
  todo-service/tsconfig.json
Due: npm run lint, npm run format

refractor auth service
  auth-service/moleculer.config.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.ts
  auth-service/src/entity/User.ts
  auth-service/src/repository/DatabaseFactory.ts
  auth-service/src/scripts/getTestToken.ts
Due: npm run lint, npm run format

Rename Auth.service.spec.ts to Auth.Service.spec.ts
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint, npm run format

Rename todo.service.ts to Todo.Service.ts
  todo-service/src/Todo.Service.ts
Due: npm run lint, npm run format

Databse factory
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/repository/DatabaseFactory.ts
  auth-service/src/repository/UserFactory.ts
  auth-service/src/repository/index.ts
  auth-service/src/scripts/generateUsers.ts
Due: npm run lint, npm run format

faker dependency
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/repository/DatabaseFactory.ts
  auth-service/src/repository/UserFactory.ts
Due: npm run lint, npm run format

spec file fix
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint, npm run format

trying mocking typeorm
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint, npm run format

changes
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.spec.ts
  auth-service/src/Auth.Service.ts
  auth-service/src/utils/DBConnection.ts
Due: npm run lint, npm run format

fix: jest mocks
  auth-service/src/Auth.Service.spec.ts
  auth-service/src/Auth.Service.ts
  auth-service/src/utils/DBConnection.ts
Due: npm run lint, npm run format

mocker
  auth-service/src/Auth.Service.spec.ts
  auth-service/src/Auth.Service.ts
  auth-service/src/utils/DBConnectionManager.ts
  auth-service/src/utils/index.ts
Due: npm run lint, npm run format

gateway service
  .vscode/launch.json
  README.md
  api-gateway/src/HTTPServer.ts
  api-gateway/src/api/app.ts
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/error.ts
  api-gateway/src/api/handlers.ts
  api-gateway/src/api/index.ts
  api-gateway/src/api/middleware.ts
  api-gateway/src/api/router.ts
  api-gateway/src/api/todo.controller.ts
  api-gateway/src/main.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.spec.ts
  auth-service/src/Auth.Service.ts
  main.ts
Due: npm run lint, npm run format

server handler gateway
  api-gateway/src/HTTPServer.ts
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/middleware.ts
  api-gateway/src/api/todo.controller.ts
  api-gateway/src/api/types.ts
  api-gateway/src/main.ts
Due: npm run lint, npm run format

gateway complete
  api-gateway/src/HTTPServer.ts
  api-gateway/src/api/app.ts
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/handlers.ts
  api-gateway/src/api/router.ts
  api-gateway/src/api/todo.controller.ts
  api-gateway/src/broker.ts
  api-gateway/src/main.ts
Due: npm run lint, npm run format

gateway service auth controllers
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/handlers.ts
  api-gateway/src/api/middleware.ts
  api-gateway/src/api/router.ts
  api-gateway/src/api/todo.controller.ts
  api-gateway/src/api/types.ts
  api-gateway/src/api/utils.ts
  api-gateway/src/broker.ts
  api-gateway/src/main.ts
  auth-service/src/Auth.Service.ts
Due: npm run lint, npm run format

refractor nodemon setup
  api-gateway/Dockerfile
  api-gateway/nodemon.json
  api-gateway/package-lock.json
  api-gateway/package.json
  auth-service/nodemon.json
  auth-service/package-lock.json
  auth-service/package.json
  main.ts
  nodemon.json
  package-lock.json
  package.json
  todo-service/nodemon.json
  todo-service/package-lock.json
  todo-service/package.json
  todo-service/src/repository/TodoRepository.ts
Due: npm run lint, npm run format

dockerfile added for api gateway
  api-gateway/Dockerfile
  api-gateway/package.json
  api-gateway/src/api/middleware.ts
  api-gateway/src/api/router.ts
  auth-service/package.json
  todo-service/package.json
Due: npm run lint, npm run format

UPDATE: node verison to 14->16
  .github/workflows/global_lint.yml
  api-gateway/package-lock.json
  auth-service/package-lock.json
  package-lock.json
  todo-service/package-lock.json
Due: npm run format

configured actions for api-gateway
  .github/workflows/api-gw_bulidtest.yml
  .github/workflows/global_format-lint.yml
  .github/workflows/global_lint.yml
  package.json
Due: npm run format

add support for yml ext
  .lintstagedrc.json
  package.json
Due: npm run format

add support for yml ext
  i.yml
Due: none

update yaml file extensions
  .github/workflows/api-gw_bulidtest.yaml
  .github/workflows/global_format-lint.yaml
  .lintstagedrc.json
  package.json
Due: npm run format

update api-gw build action
  .github/workflows/api-gw_bulidtest.yaml
Due: npm run format

added dockerfile for auth-service
  auth-service/Dockerfile
Due: none

remove garbage files
  i.yml
Due: none

tested todo service
  .github/workflows/api-gw_bulidtest.yaml
  api-gateway/.dockerignore
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/middleware.ts
  api-gateway/src/api/router.ts
  api-gateway/src/api/todo.controller.ts
  auth-service/.dockerignore
  auth-service/package.json
  todo-service/.dockerignore
  todo-service/Dockerfile
  todo-service/moleculer.config.ts
  todo-service/package.json
  todo-service/src/Todo.Service.ts
  todo-service/src/utils/DBConnectionManager.ts
  todo-service/src/utils/index.ts
Due: npm run lint, npm run format
