Repository Akshit8/todo-microservice-nodejs: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:ts, npm run format, npm run lint:js

switch todo service database
  todo-service/ormconfig.ts
Due: npm run lint:ts, npm run format

skaffold setup in api gateway
  .github/workflows/api-gw_bulid-test.yaml
  .github/workflows/api-gw_push-image.yaml
  api-gateway/skaffold.yaml
Due: none

change
  .gitignore
  api-gateway/Dockerfile
  api-gateway/skaffold.yaml
  api-gateway/src/api/handlers.ts
  package.json
Due: npm run lint:ts, npm run format

change 1
  api-gateway/skaffold.yaml
  api-gateway/src/main.ts
Due: npm run lint:ts, npm run format

short
  api-gateway/src/api/handlers.ts
Due: npm run lint:ts, npm run format

chnage 2
  api-gateway/skaffold.yaml
  api-gateway/src/main.ts
Due: npm run lint:ts, npm run format

workflow complete for pushing api-gatewat to ecr
  .github/workflows/api-gw_push-image.yaml
  api-gateway/Dockerfile
  api-gateway/src/ApplicationProcessManager.ts
  api-gateway/src/HTTPServer.ts
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/handlers.ts
  api-gateway/src/api/router.ts
  api-gateway/src/api/todo.controller.ts
  api-gateway/src/broker.ts
  api-gateway/src/logger.ts
  api-gateway/src/main.ts
  api-gateway/src/moleculer/broker.ts
  api-gateway/src/moleculer/moleculer.config.ts
  auth-service/Dockerfile
  todo-service/Dockerfile
Due: npm run lint:ts, npm run format

fix push action
  .github/workflows/api-gw_push-image.yaml
Due: none

refractor api-gw
  api-gateway/src/api/auth.controller.ts
  api-gateway/src/api/todo.controller.ts
Due: npm run lint:ts, npm run format

make workflow generic
  .github/workflows/api-gw_push-image.yaml
Due: none

workflow changes
  .github/workflows/api-gw_push-image.yaml
Due: none

action error
  .github/workflows/api-gw_push-image.yaml
Due: none

test reusable workflow
  .github/workflows/api-gw_push-image.yaml
  .github/workflows/push-image-worflow.yaml
Due: none

test all push actions
  .github/workflows/auth-service_push-image.yaml
  .github/workflows/todo-service_push-image.yaml
  auth-service/Dockerfile
  auth-service/skaffold.yaml
  todo-service/Dockerfile
  todo-service/skaffold.yaml
Due: none

test todo-service action
  todo-service/tsconfig.json
Due: npm run format

fix job names
  .github/workflows/api-gw_push-image.yaml
  .github/workflows/auth-service_push-image.yaml
  .github/workflows/todo-service_push-image.yaml
Due: none

testing refractor auth-service
  .github/workflows/auth-service_test.yaml
  .github/workflows/todo-service_test.yaml
  auth-service/jest.config.ts
  auth-service/src/Auth.Service.ts
  auth-service/src/repository/UserRepository.spec.ts
  auth-service/src/repository/UserRepository.ts
Due: npm run lint:ts, npm run format

solved jest mock
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/Auth.Service.spec.ts
  auth-service/src/Auth.Service.ts
Due: npm run lint:ts, npm run format

some unit tests...
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint:ts, npm run format

auth service unit tests complete
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint:ts, npm run format

unit tests done for auth-service
  auth-service/jest.config.ts
  auth-service/src/repository/DatabaseFactory.ts
  auth-service/src/repository/UserFactory.ts
  auth-service/src/repository/UserRepository.spec.ts
  auth-service/src/repository/UserRepository.ts
  auth-service/src/scripts/generateNUsers.ts
  auth-service/src/scripts/getAuthToken.ts
  auth-service/src/utils/AuthToken.spec.ts
  auth-service/src/utils/Hasher.spec.ts
  codecov.yml
Due: npm run lint:ts, npm run format

added coverage action to auth-service
  .github/workflows/auth-service_test.yaml
  .github/workflows/todo-service_test.yaml
  auth-service/jest.config.ts
Due: npm run lint:ts, npm run format

fixed ci test issue
  .github/workflows/auth-service_test.yaml
  auth-service/src/repository/UserRepository.spec.ts
Due: npm run lint:ts, npm run format

fix
  .github/workflows/auth-service_test.yaml
Due: none

added single test for todo service
  .github/workflows/todo-service_test.yaml
  auth-service/jest.config.ts
  todo-service/jest.config.ts
  todo-service/src/utils/AuthToken.spec.ts
  todo-service/src/utils/AuthToken.ts
Due: npm run lint:ts, npm run format

covergae info
  README.md
  codecov.yml
Due: none

bumpled up coverage in auth-service
  auth-service/src/Auth.Service.spec.ts
Due: npm run lint:ts, npm run format

tests
  docker-compose/README.md
  docker-compose/docker-compose.yaml
  todo-service/package-lock.json
  todo-service/package.json
  todo-service/src/Todo.Service.spec.ts
  todo-service/src/Todo.Service.ts
  todo-service/src/repository/DatabaseFactory.ts
  todo-service/src/repository/TodoFactory.ts
  todo-service/src/repository/TodoRepository.spec.ts
  todo-service/src/repository/TodoRepository.ts
  todo-service/src/utils/AuthToken.spec.ts
  todo-service/src/utils/AuthToken.ts
Due: npm run lint:ts, npm run format

rm tests
  todo-service/src/Todo.Service.spec.ts
Due: npm run lint:ts, npm run format

added kops and compose
  docker-compose/docker-compose.yaml
  kops/README.md
  kops/kops.sh
Due: none

added prometheus exporter
  .vscode/settings.json
  api-gateway/src/moleculer/moleculer.config.ts
  auth-service/Dockerfile
  auth-service/moleculer.config.ts
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/tsconfig.build.json
  docker-compose/docker-compose.yaml
  kops/README.md
  kops/cluster.yaml
  kops/kops.sh
  prometheus/dev/prometheus.yml
  todo-service/Dockerfile
  todo-service/moleculer.config.ts
  todo-service/package-lock.json
  todo-service/package.json
  todo-service/tsconfig.build.json
Due: npm run lint:ts, npm run format

kops tested
  .github/workflows/kops_create_cluster.yaml
  .github/workflows/kops_delete_cluster.yaml
  kops/README.md
  kops/cluster.yaml
  kops/kops.sh
Due: none

todo service tests
  .github/workflows/kops_create_cluster.yaml
  .github/workflows/kops_delete_cluster.yaml
  todo-service/src/Todo.Service.spec.ts
  todo-service/src/Todo.Service.ts
Due: npm run lint:ts, npm run format

execss
  .github/workflows/todo-service_test.yaml
  api-gateway/src/moleculer/moleculer.config.ts
  auth-service/moleculer.config.ts
  docker-compose/docker-compose.yaml
  todo-service/moleculer.config.ts
Due: npm run lint:ts, npm run format

add http client
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/http-client/HTTPClient.spec.ts
  auth-service/src/http-client/HTTPClient.ts
  auth-service/src/http-client/pqueue.ts
Due: npm run lint:ts, npm run format

fix: HTTP CLIENT
  auth-service/package-lock.json
  auth-service/package.json
  auth-service/src/http-client/HTTPClient.spec.ts
  auth-service/src/http-client/HTTPClient.ts
  auth-service/src/http-client/pqueue.ts
  auth-service/src/utils/HTTPClient.spec.ts
  auth-service/src/utils/HTTPClient.ts
Due: npm run lint:ts, npm run format

added test
  auth-service/src/utils/HTTPClient.spec.ts
  auth-service/src/utils/HTTPClient.ts
Due: npm run lint:ts, npm run format

loggin refractor
  auth-service/src/utils/HTTPClient.spec.ts
  auth-service/src/utils/HTTPClient.ts
Due: npm run lint:ts, npm run format

added test script
  auth-service/src/scripts/httpClient.ts
  auth-service/src/utils/HTTPClient.spec.ts
  auth-service/src/utils/HTTPClient.ts
  auth-service/src/utils/index.ts
Due: npm run lint:ts, npm run format

fix: benchmark cleint script
  auth-service/src/scripts/httpClient.ts
Due: npm run lint:ts, npm run format

Path conditions:
  npm run lint:ts: any of: *.ts
  npm run format: (((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.yaml,*.yml)
  npm run lint:js: any of: *.js
